<div class="container">

  <div class="row row-content align-items-center">
    <div class="col-12 col-sm-4 col-md-3">
      <h3>Our awesome featured city</h3>
    </div>
    <div class="col col-sm col-md">
      <h2>Madrid</h2>
      <p>The capital of Spain combines history, museums and good food for everyone who visits it.</p>
    </div>
  </div>

  <div class="row row-content align-items-center">
    <div class="col-12 col-sm-4 col-md-3">
      <h3>From the center of Europe</h3>
    </div>
    <div class="col col-sm col-md">
      <h2>Berlin</h2>
      <p>The capital of Germany is considered one of the interesting places to visit!
      </p>
    </div>
  </div>

  <div class="row row-content align-items-center">
    <div class="col-12 col-sm-4 col-md-3">
      <h3>A big city on the edge of the mediterranean</h3>
    </div>
    <div class="col col-sm col-md">
      <h2>Barcelona</h2>
      <p>The olimpic city of 1992 is a most see!</p>
    </div>
  </div>

</div>